""" Put the environment variables here and load them in settings.py """


# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-c2jm$!3(vk%e4u@_h346k)u)@j(mo!z)wtyj=4j4nuqs6lf70h'
